scr/Matlab/practive-recognition-lecture-02/MNIST/train-labels.idx1-ubyte
scr/Matlab/practive-recognition-lecture-02/MNIST/train-images.idx3-ubyte
scr/Matlab/practive-recognition-lecture-02/MNIST/t10k-labels.idx1-ubyte
scr/Matlab/practive-recognition-lecture-02/MNIST/t10k-images.idx3-ubyte
